:root {
  --white: #FFFFFF;
  --light-gray: #DDDDDD;
  --gray: hsl(0, 0%, 50%);
  --dark-gray: hsl(0, 0%, 18%);
  --black: hsl(0, 0%, 10%);
  font-size: 1.1rem;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black);
}


.content{
  display: flex;
  background-color: var(--dark-gray);
  border-radius: 0.3rem;
}


canvas {
  display: block;
}
#particleCanvas {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}


aside {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}
.slider label {
  margin-bottom: 0.6rem;
}
.slider span {
  margin-left: 0.2rem;
}

a {
  color: #FF0000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#histogram {
  background-color: var(--black);
  margin-top: 0.6rem;
}
