body {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  color: #111111;
  display: flex;
  justify-content: center;
}

canvas {
  display: block;
}

a {
  color: #FF0000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

aside {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#histogram {
  background-color: white;
  margin-top: 10px;
}


.content{
  display: flex;
  background-color: #EEEEEE;
}

.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.slider label {
  margin-bottom: 5px;
}
.slider span {
  margin-left: 10px;
}